.intro-card{
    animation:intro-card 1.2s ease-out;
}
@keyframes intro-card{
    from{
        opacity:0;
        transform: translateX(-20%);
    }
    to{
        opacity:1;
        transform: translateX(0%);
    }
}
.intro-image{ 
    animation: intro-image 1.2s linear ;
}
@keyframes intro-image{
    0%{
        transform: translateX(20%);
        opacity: 0.1;
    }
    
    100%{
        transform: translateX(0);
        opacity:1;
    }
}
/* ===============end of intro animation======= */



/* ============responsive=============== */
@media screen and (max-width:600px) {
    .intro-card{
        animation:intro-card 1.2s ease-out;
    }
    @keyframes intro-card{
        from{
            opacity:0;
            transform: translateY(-10%);
        }
        to{
            opacity:1;
            transform: translateX(0%);
        }
    }
    .intro-image{ 
        animation: intro-image 1.2s linear ;
    }
    @keyframes intro-image{
        0%{
            transform: translateY(10%);
            opacity: 0.1;
        }
        
        100%{
            transform: translateY(0);
            opacity:1;
        }
    }
}