@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    --container-bg:80%;
    --container-md:94%;
    --container-sd:94%;
    --color-bg:rgb(255, 255, 255);
    --color-bg2:rgb(15,65,178);
    overflow-x: clip;
    scroll-behavior: smooth;
    
}
body{
    position: relative;
    font-family: Lobster, cursive;
}
.btn{
    background-color: var(--color-bg2);
    padding: 20px;
    border-radius: 30px ;
    height: 15px;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight:bold;
    color: white;
    cursor: pointer;
    transition: 400ms all ease;
}
.btn:hover , form button:hover{
    background: rgba(15, 64, 178, 0.829);
}
.container{
    width:var(--container-bg);
}
section{
    width: 100%;
}
.Header{
        width: 100%;
        text-align: center;
        height: 10rem;
        background: var(--color-bg2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 1px 1px 5px grey;
    
}

/* ===========header section =============== */
header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(239,241,243), white);
    position: fixed;
    top:0;
    z-index: 100;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px grey;
}
.bi-list{
    font-size:45px;
    color:var(--color-bg2);
}

.header__container{
    height: 100%;
    width: var(--container-bg);
    display: flex;
    flex-direction: row;
    align-items:center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    align-items:center;

}
nav a {
    color: rgba(26, 24, 24, 0.945);
}
nav a:hover{
    color: var(--color-bg2);
}
ul{
    display: flex;
    justify-content: space-between;
    width:20rem;
    font-size: 15px;
    font-weight:bold
}
.openBtn , .closeBtn{
    display: none;
}
/* ============  end of header section =========== */
/* =========================hiring ================== */
.hiring{
    background:var(--color-bg2);
    height: 3.5rem;
    position:fixed;
    width: 100%;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
    cursor: pointer;
    
}
/* ====================end of hiring ================== */
/* ========== Home section =========================== */
.Home__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    height: auto;
    padding-top: 3rem;
   
}
.home__section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    
}
.tenProject{
    color: var(--color-bg2);
}
.homePercent{
    color: red;
}
.blue{
    color:var(--color-bg2);
}

.home__left{
    width:35%;

}
.home__left h2{
    margin-top:1.4rem;
}
.home__left h1{
    font-size: 2.2rem;
}
.home_right{
    width:40%;
}

.homeImageWrapper{
    width: 100%;
    
}
.homeImageWrapper img{
    width:100%;
    object-fit: cover;
    height:30rem;
}
.homeSection2{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0.226));
}

.home__section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    margin-top: 1rem;
    height: 12rem;
   
}
.homeSection2right{
    display: flex;
    gap: 20px;
}
.hsrf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    
}
.hsrfH{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 15px solid black;
    border-radius: 100%;
    font-size: small;
    margin-bottom: 10px;
}
.hsrfH1{
    border-color: rgb(116,146,222);
    border-left-color:var(--color-bg2);
    border-bottom-color: rgb(221,232,248);
}
.hsrfH2{
    border-color: rgb(249,160,127);
    border-right-color: rgb(251,213,212);
    border-bottom-color: rgb(192,71,60);
}
.hsrfH3{
    border-color: rgb(188,172,243);
    border-left-color: rgb(126,62,225);
    border-bottom-color: rgb(140, 128, 177);
}
/* =================================  End of home section ====================================== */
/* ====================================== begining of services section ============================================== */
.serviceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
}

.containerServiceCard{
    width:70%;
}
.serviceCard{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
}
.article{
    background:rgb(219 219 231);
    border-radius: 5px;
    padding: 1.5rem;
    width: 16rem;
    box-shadow: 1px 1px 5px black;
    cursor:pointer;

}
.article h1{
    font-size:1rem
}
.article h3{
    font-weight: normal;
    font-size: 17px;
}
/* ======================================= end of service section ========================================== */

/* ==================================== about us================================================= */
.aboutContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    
}
.aboutDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
   
}
.aboutLeft{
    width:100%;
    margin-left: -15%;
}
.aboutRight{
    width: 50%;
}
.aboutImage{
    width: 100%;
    
}
.aboutImage img{
    width:100%;
    object-fit: cover;
    height:35rem;
}
.aboutRight h1{
    font-size: 1rem;
}
.aboutRight h3{
    font-weight: normal;
    font-size: 19px;
    padding-block: 17px ;
}
#aboutRightHead{
    font-size: 1.3rem; 
}
/* ====================== End of about us =================================================== */
/* =====================        Contact Section =========================================== */
.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:auto;
    padding-bottom: 3rem;
    height: auto;
}

.contactWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
}
.contactTopWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(249,249, 251);
}
.contactTop{
    display: flex;
    justify-content:center;    
    align-items: center;
    gap: 8rem;
    height: 20rem;
}
.contactTopBg{
    background: white;
    width:9rem;
    height: 11rem;
    padding: 0.8rem 0.2rem ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}
.contactCard{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactCardForm{
    height: 22rem;
}
.contactCardHeader{
    margin-bottom: 2rem;
}
input.inputStyle{
    width: 18rem;
    height: 34px;
    margin-bottom: 6px;
    background: rgb(224, 224, 233);
    border: none;
    padding: 3px 10px;
    font-size: 18px;
    outline: none;

}
input.inputStyle::placeholder , textarea::placeholder{
    color: ash;
    font-size: 11px;
   
}
textarea{
    width: 36.33rem;
    background: rgb(224, 224, 233);
    resize: none;
    border: none;
    padding: 3px 10px;
    margin-bottom: 1rem;
}
form button {
    width:36.33rem;
    height: 2.5rem;
    border: none;
    background: var(--color-bg2);
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}
/* ================================ end of Contact Section ================================== */
/* ======================================== Footer Section ===================================== */
.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerHeader{
    height: 5rem;
}
.footerSocials{
    display: flex;
    gap: 1rem;
}
footer a{
    color: inherit;
}
/* =========================================== End of footer Section ============================== */
