@media screen and (max-width:1366px) and (max-height:1024px){
    .container{
       width: var(--container-md);
       }
    .Header{
        height: 5rem;
    }
       /* ===================header============= */
       .header__container{
           width: var(--container-md);
       }
       .home__left{
        width: 40%;
        gap: 0;
       }
    
   }
   @media screen and (max-width:1024px) and (max-height:1366px){
    .container{
       width: var(--container-md);
       }
       /* ===================header============= */
       .header__container{
           width: var(--container-md);
       }
       .home__left{
        width: 40%;
        gap: 0;
       }
    
   }

@media screen and (max-width:1200px) and (max-height:900px){
 .container{
    width: var(--container-md);
    }
    /* ===================header============= */
    .header__container{
        width: var(--container-md);
    }
 
}

/* ==========================   ===================== */
@media screen and (max-width:900px){
    .hiring h5{
        font-size: 14px;
    }
    .hiring{
        width: 150%;
    }
    @keyframes hiring {
        0%{
            transform: translateX(60%);
        }
        100%{
            transform: translateX(-90%);
        }
    }
    /* ============ spacing for form on mobile ======================= */
    
    .lspacing2  , input.inputStyle.lspacing2{
        margin-bottom: 8px;
    }

    .cvSubmission h5{
        padding: 2px 53px;
        text-align: center;
    }
    
    
   /* ===================== nav bar ======================= */
   .bdNav , .headerBtn {
    display:none;
   }
   .openBtn{
    display: inline-block;
   }
  .sdNav{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 100vh;
    top: 0;


   }
   .sdNav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: -11rem;
    text-decoration: none;
    list-style: none;
   }
   .sdNav ul li {
    margin-bottom: 12px;
   }
   .active{
    color: var(--color-bg2);
   }
   /* =========================end of nav bar=================================*/
    .container{ 
       width: var(--container-sd);
       }
       /* ===================header============= */
       .header{
        height: 52px;
       }
       .header__container{
           width: var(--container-md);
       }
       /* ==============Home section ================== */
       
       .home__section{
        flex-direction: column;
        margin-top: 4rem;
        margin-bottom: 5rem;
       }
       .home__left{
        width: var(--container-sd);
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
       
       .home__left h1{
        font-size: 2rem;
       }
       .home__section2{
        flex-direction: column;
       }
       .homeSection2right{
        gap: 4%;
       }
       .hsrf h3{
        text-align: center;
       }
       .homeSection2left{
        padding-bottom: 2rem;
        width: 20rem;
        text-align: justify;

       }
       .homeSection2{
        height: 18rem;
        margin-top:-3.8rem;
       }
       /* =====================service section ===================== */
       .containerServiceCard{
        width: var(--container-sd);
       }
       .serviceContainer{
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .serviceCard{
        grid-template-columns: 1fr;
       }
       .article{
        width: var(--container-sd);
        padding: 10px 0;
       }
       /* ==================== about section ============= */
       .aboutContainer{
        margin-bottom: 3rem;
       }
       .aboutDetail{
        flex-direction: column;
       }
       .aboutLeft{
        width: var(--container-sd);
        margin: 0;
       }
       .aboutRight{
        width: var(--container-sd);
        margin-top: -3rem;
       }
       .aboutBtn{
        margin-left: 31%;
        margin-top: 2rem;
       }
       /* ==================== article section ========== */
       .article h3 , .article h1 , .article span{
       padding:0 1rem;
    }
       /* =============== contact section ============= */
       .contactTop{
        gap:2rem;
       }
       form{
        display: flex;
        flex-direction: column;
        width:var(--container-sd);
        align-items: center;
       }
       input.inputStyle{
        margin:0;
       }
       textarea{
        width:17rem;
       }
       form button{
        width:100%;
       }
       /* ============== footer section ======================= */
       .footerHeader{
        padding-bottom: 1rem;
        height: 15rem;
        margin-top: 6rem;
       }
       .footerContainer{
        flex-direction: column;
        gap: 1rem;
       }
       .footerSocials{
        flex-direction: column;
       }
      

}